* {
  box-sizing: border-box;
  margin: 0;
}

body {
  width: 100%;
  height: 100vh;
}

.container div {
  background-color: lightgray;
  border-radius: 4px;
  border: 1px #fff solid;
  text-align: center;
}
